* {
    margin: 0;
    border:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 231, 217);
}

.divPrincipal {
    background-image: url("../img/fondo_recortado.png");
    background-size:100%;
    width: 50%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "logo botones"
                         "null botones"
                         "null botones";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.divPrincipalCrear {
    justify-content: flex-start;
    flex-grow: 2;
    flex-direction: column;
    background-image: none;
}

.crearHuerta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    grid-area: logo;
}

.botonesIndex {
    margin-top: 2rem;
    grid-area: botones;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonIndex {
    margin: 0.5rem 0;
    width: 8rem;
    height: 2rem;
    background-color: rgba(119, 119, 173, 0.293);
    font-size: 1rem;
    color: rgb(18, 56, 21);
    border: 1px outset rgb(41, 121, 33);
}
.botonIndex:hover {
    background-color: rgba(119, 119, 173, 0.847);
    color: white;
    cursor: pointer;
}

.botonIndex:active {
    border: 1px inset rgb(41, 121, 33);
}

#panelHuerta {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btnHuerta {
    width: 200px;
    height: 50px;
    background-color: rgba(119, 119, 173, 0.293);
    border-radius: 25px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.623);
}

.btnHuerta:disabled {
    background-color: rgba(119, 119, 173, 0.05);
    color: rgba(255, 255, 255, 0.1);
}

.btnHuerta:disabled:hover {
    background-color: rgba(119, 119, 173, 0.05);
    color: rgba(255, 255, 255, 0.1);
    cursor: auto;
}

.btnHuerta:hover {
    background-color: rgba(119, 119, 173, 0.847);
    color: white;
    cursor: pointer;
}

#agregarCultivo {
    display: none;
}

#modificarCultivo {
    display: none;
}

.iconoEditar {
    width: 15px;
}

td {
    text-align: center;
}

.inputsAgregarCultivo {
    display: flex;
}

input {
    text-align: center;
    width: 50px;
}

select {
    width: 100px;
}

table {
    border: 3px solid gray;
    border-collapse: collapse;
    background-color: rgba(173, 216, 230, 0.696);
    
}

thead {
    background-color:rgba(119, 119, 173, 0.648);
    
}

th {
    padding: 0 2rem 0 2rem;
}

td {
    border: 2px solid gray;
    padding: 0.25rem 0;
    background-color: 0.5;
}

tr:hover {
    background-color: rgb(56, 171, 209);
    color: white;
}

#pieTablaCultivos {
    display: none;
}

#fechaSiembra, #fechaSiembraModificar {
    width: 9rem;
}

#nombreHuerta {
    width: 10rem;
}

#esquemaHuerta {
    background-color: rgb(158, 75, 28);
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .divPrincipal {
        width: 100%;
    }
    .botonIndex {
        width: 70%;
        font-size: 2rem;
    }
    td {
        padding: 0.25rem;
    }
    th {
        writing-mode: vertical-rl;
        padding: 0.25rem;
    }
}