@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 242, 233);
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
    /* height: fit-content; */
}

.bodySec {
    display: flex;
    flex-direction: column;
}

button {
    font-family: "Nunito Sans", sans-serif;
}

.divPrincipal {
    background-image: url("../img/fondo_recortado.png");
    background-repeat: repeat-y;
    background-size:100%;
    width: 60%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "logo botones"
                         "null botones"
                         "null botones";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    box-shadow: 0 0 10px 2px lightgray;
    border-radius: 2rem;
    padding: 2rem;
}

.divSecundario{
    min-height: 50vh;
    margin-top: -100px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    flex-direction: column;
    background-image: none;
}

.logoSec {
    position: sticky;
    top: 0;
}

.logoSec img {
    max-width: 40vh;
}

.crearHuerta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    grid-area: logo;
}

.botonesIndex {
    margin-top: 2rem;
    grid-area: botones;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonIndex {
    margin: 0.5rem 0;
    width: 8rem;
    height: 2rem;
    background-color: rgba(119, 119, 173, 0.293);
    font-size: 1rem;
    color: rgb(18, 56, 21);
    border: 1px outset rgb(41, 121, 33);
}
.botonIndex:hover {
    background-color: rgba(119, 119, 173, 0.847);
    color: white;
    cursor: pointer;
}

.botonIndex:active {
    border: 2px inset rgb(41, 121, 33);
}

#panelHuerta, #panelMisHuertas, .divInformacion {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.crearHuerta {
    font-size: 1.3rem;
    padding: 1rem;
}

.btnHuerta, .botonCargar, .botonInfo {
    margin: 0.5rem 0;
    width: 8rem;
    height: 2rem;
    background-color: rgba(119, 119, 173, 0.293);
    font-size: 0.8rem;
    color: rgb(18, 56, 21);
    border: 1px outset rgb(41, 121, 33);
}

.btnHuerta:hover, .botonCargar:hover, .botonInfo:hover {
    background-color: rgba(119, 119, 173, 0.847);
    color: white;
    cursor: pointer;
}

.btnHuerta:active, .botonCargar:active, .botonInfo:active {
    border: 2px inset rgb(41, 121, 33);
}


#agregarCultivo {
    display: none;
}

#modificarCultivo {
    display: none;
}

.iconoEditar {
    width: 15px;
}

td {
    text-align: center;
}

.inputsAgregarCultivo {
    display: flex;
}

input {
    text-align: center;
    width: 50px;
}

select {
    width: 100px;
}

table {
    /* border: 3px solid gray; */
    border-collapse: collapse; 
    /* background-color: rgba(173, 216, 230, 0.696); */
}

/* thead {
    background-color:rgba(119, 119, 173, 0.648);
} */

th {
    padding: 0 2rem 0 2rem;
    background-color:rgb(119, 119, 173);
    border: 2px solid gray;
}

td {
    border: 2px solid gray;
    padding: 0.25rem 0;
    background-color: rgba(173, 216, 230, 0.696); 
}

tbody tr:hover {
    background-color: rgb(56, 171, 209);
    color: white;
}

#pieTablaCultivos {
    display: none;
}

#fechaSiembra, #fechaSiembraModificar {
    width: 9rem;
}

#nombreHuerta, #areaHuerta {
    font-size: 1rem;
    width: 11rem;
}

@media (max-width: 500px) {
    .divPrincipal {
        width: 100%;
    }
    .botonIndex {
        width: 70%;
        font-size: 2rem;
    }
    td {
        padding: 0.25rem;
    }
    th {
        writing-mode: vertical-rl;
        padding: 0.25rem;
    }
}

/* .divInformacion {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
} */

.divTabla {
    align-self: center;
}

.imgDrop {
    width: 1rem;
}

.controlesInfo {
    text-align:center;
}

footer {
    justify-self: flex-end;
}

footer div img {
    width: 98vw;
}

.tablaInfo {
    overflow:scroll;
}

.divTabla {
    max-height: 60vh;
    overflow:auto;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
 

  thead {
    position: sticky;
    top: 0;
  }

  .logoSec {
    width: fit-content;
  }


  .botonesModificarCultivo, .botonesModificar {
    padding: 0.1rem 0.5rem;
  }

  .botonesModificarCultivo:hover, .botonesModificar:hover, .checksEliminarHuertas, .checksEliminarCultivo {
    cursor: pointer;
  }

  .seccionModificarCultivo {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 10px 2px lightgray;
    border-radius: 1rem;
  }

  .inputsModificar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .inputsModificar input, .inputsModificar select {
    font-size: 1rem;
  }